ol {
    margin-bottom: 20px; /* Add some space below the text */
}
body{
    margin:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}
#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    /*think like for long equations we want the symobls coming on the display to not get out*/
    overflow: hidden;
}
#display{
    width:100%;
    padding: 20%;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color:white;
}
#keys{

    /*arrange button 1 by 1 by || 
    keys become grid.png*/
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button{
    width:100px;
    height: 100px;
    border-radius: 50px;
    border:none;
    background-color: hsl(0, 0%, 77%);
    color:white;
    font-size:3rem;
    font-weight: bold;

    /* cursor becomes the clickable icon*/
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}

button:active{
    background-color: hsl(0, 0%, 50%);
}