body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
}

ol {
    margin-bottom: 20px; /* Add some space below the text */
}

#calculator {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    /*think like for long equations we want the symobls coming on the display to not get out*/
    overflow: hidden;
    margin-bottom: 50px; /* Add more space below the calculator */
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 3rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 77%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    /* cursor becomes the clickable icon */
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
}

.operator-btn {
    background-color: hsl(35, 100%, 55%);
}

.operator-btn:hover {
    background-color: hsl(35, 100%, 65%);
}

.operator-btn:active {
    background-color: hsl(35, 100%, 75%);
}

#error-messages-container {
    margin-top: 50px; /* Ensure enough space from the calculator */
    width: 100%;
    text-align: center;
}

#error-message, #error-divide-message {
    font-size: 1.5rem;
    color: red;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

#error-message.visible, #error-divide-message.visible {
    opacity: 1;
}

.hidden {
    display: none;
}

.art-container {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: shrinkAndVanish 5s forwards;
}

.ascii-art {
    transform: scale(0.6); /* Shrink to 80% */
    transform-origin: center; /* Set the transform origin to the top left corner */
}



